<?xml version="1.0" encoding="utf-8"?><!-- 清单文件合并指引：https://developer.android.google.cn/studio/build/manifest-merge?hl=zh-cn -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tntlinking.tntdev">
    <!-- Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <!--华为角标-->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <!--vivo 角标-->
    <uses-permission android:name="com.vivo.notification.permission.BADGE_ICON" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /><!-- Android Q后台定位权限-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 安装权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 定位权限（用于 WebView 定位）-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Application 节点详解：https://developer.android.google.cn/guide/topics/manifest/application-element -->
    <!-- Activity 节点详解：https://developer.android.google.cn/guide/topics/manifest/activity-element -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--xiaomi_permission_start-->
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />
    <!--xiaomi_permission_end-->
    <!--oppo_permission_start-->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <!--oppo_permission_end-->
    <uses-sdk tools:overrideLibrary="
     cn.jpush.android.thirdpush.fcm
    ,cn.jpush.android.thirdpush.huawei
    ,cn.jpush.android.thirdpush.meizu
    ,cn.jpush.android.thirdpush.oppo
    ,cn.jpush.android.thirdpush.vivo
    ,cn.jpush.android.thirdpush.xiaomi
    ,com.google.firebase.firebase_core
    ,com.google.firebase.messaging
    ,com.google.firebase.analytics.connector.impl
    ,com.google.firebase.measurement
    ,com.google.android.gms.measurement.api
    ,com.google.firebase.measurement_impl
    ,com.google.firebase.iid
    ,com.google.firebase
    ,com.google.firebase.iid.internal
    ,com.google.android.gms.base
    ,com.google.android.gms.tasks
    ,com.google.firebase.analytics.connector
    ,com.google.android.gms.stats
    ,com.google.android.gms.ads_identifier
    ,com.google.android.gms.common
    ,com.google.android.gms.measurement_base
    ,com.huawei.android.hms.openid
    ,com.huawei.agconnect.core
    ,com.huawei.hmf.tasks
    ,com.huawei.hms.framework.network.grs
    ,com.huawei.hms.framework.common
    ,com.huawei.android.hms.base
    ,com.huawei.android.hms.push
    ,android.support.mediacompat
    ,android.support.fragment
    ,android.support.coreutils
    ,android.support.coreui
    ,android.support.compat
    ,android.arch.lifecycle" />

    <application
        android:name="com.tntlinking.tntdev.app.AppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_logo"
        android:label="${app_name}"

        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,LockedOrientationActivity"
        tools:replace="android:allowBackup,android:supportsRtl,android:label"
        tools:targetApi="n">
        <!--        tools:replace="android:allowBackup,android:supportsRtl"-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- 表示当前已经适配了分区存储 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 闪屏页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 引导页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 首页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 登录页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 注册页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 崩溃展示（必须在独立进程） -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.CrashActivity"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape" />

        <!-- 重启应用（必须在独立进程） -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.RestartActivity"
            android:launchMode="singleTop"
            android:process=":restart" />

        <!-- 设置页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SettingActivity"
            android:label="@string/setting_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 忘记密码 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PasswordForgetActivity"
            android:label="@string/password_forget_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 重置密码 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PasswordResetActivity"
            android:label="@string/password_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 更换手机 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PhoneResetActivity"
            android:label="@string/phone_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 关于我们 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AboutActivity"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 关于我们 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PDFViewActivity"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 关于我们 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.MDViewActivity"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 个人资料 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PersonalDataActivity"
            android:label="@string/personal_data_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 网页浏览 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.BrowserActivity"
            android:label="@string/web_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 拍照选择 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.CameraActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 图片裁剪 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.ImageCropActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 图片选择 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.ImageSelectActivity"
            android:label="@string/image_select_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 查看大图 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.ImagePreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 播放视频（自适应方向） -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.VideoPlayActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />

        <!-- 播放视频（竖屏方向） -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.VideoPlayActivity$Portrait"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />

        <!-- 播放视频（横屏方向） -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.VideoPlayActivity$Landscape"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />

        <!-- 选择视频 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.VideoSelectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 对话框案例 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.DialogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 状态案例 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.StatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 职位详情 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.JobDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 登陆页面1 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.LoginActivity1"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 登陆页面3 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.LoginActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 登陆页面3 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.LoginActivityView"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 基本信息页面1 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.BaseInfoActivity1"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 基本信息页面2 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.BaseInfoActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 基本信息页面3 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.BaseInfoActivity3"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 添加教育经历页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddEducationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 上传简历页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.UploadResumeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${applicationId}" />
        <!-- 其他应用上传 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.UploadOtherActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!-- 解析简历页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.ResumeAnalysisActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 添加教育经历页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddEducationActivityNew"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 添加项目经验 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddWorkActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 添加项目经验 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddProjectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 添加项目经验 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddProjectActivityNew"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 标签选择页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddProjectTagActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 标签选择页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddProjectTagActivityNew"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 标签选择搜索页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddTagSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 用户信息页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PersonDataActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 收益列表页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.IncomeListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 收益详情页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.IncomeDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 测评须知 页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.EvaluationNeedsTokNowActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 工作主页 页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.InterviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 工作主页 页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.HomeStatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 面试详情页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.InterviewDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 待审核 页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.CheckDeveloperActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 审核失败 页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.CheckDeveloperFailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 个人设置页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PersonSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--更换手机号页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.ChangePhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 日程页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.InterviewSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 添加日程页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddScheduleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.WriteDailyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AboutAppActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddBaseInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 评测岗位列表-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.EvaluationListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 暂无测评计划页-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.NotYetEvaluationActvity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 暂无测评计划页-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.EvaluationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- H5测评计划页-->
        <!-- 测评结果页-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.EvaluationOutcomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 测评结果中页-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.JkBrowserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddCareerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.EnterDeveloperActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!-- 	指定分享类型,我这边只能分享video/mp4,image/* -->
                <data android:mimeType="image/*" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/html" />
            </intent-filter>
        </activity>
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SaveQRActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PosterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PhotoSkillsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 签约确认页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SignContactActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 签约详情页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SignInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 状态页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SignStatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 注销确认页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.CancelServiceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 首页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >

        </activity>

        <!-- 微信回调（请注意这个 Activity 放置的包名要和当前项目的包名保持一致，否则将不能正常回调） -->
        <activity
            android:name="com.tntlinking.tntdev.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- since 3.3.0 Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!--User defined.  For test only 继承自cn.jpush.android.service.JCommonService-->
        <service
            android:name=".jpush.PushService"
            android:exported="true"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!--        &lt;!&ndash; User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调&ndash;&gt;-->
        <!--        &lt;!&ndash;since 3.3.0 接收JPush相关事件&ndash;&gt;-->
        <receiver android:name=".jpush.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}"></category>
            </intent-filter>
        </receiver>

        <!--huawei_config_start-->
        <service
            android:name="cn.jpush.android.service.PluginHuaweiPlatformsService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--huawei_config_end-->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="true"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="cn.jpush.android.ui.PopWinActivity" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </activity>
        <!-- since 3.5.0 Required SDK 核心功能 -->
        <!-- 3.5.0新增，用于定时展示功能 -->
        <receiver
            android:name="cn.jpush.android.service.SchedulerReceiver"
            android:exported="false" />

        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="${JPUSH_PKGNAME}.DataProvider"
            android:exported="false"
            android:process=":pushcore" />
        <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="${JPUSH_PKGNAME}.DownloadProvider"
            android:exported="true" />
        <provider
            android:name="cn.jiguang.union.ads.service.JAdFileProvider"
            android:authorities="${applicationId}.JAdFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/jpush_file_paths" />
            <intent-filter>
                <action android:name="cn.jpush.android.intent.FileProvider" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </provider>
        <!-- since 3.3.0 Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@style/JPushTheme">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- since 4.6.0 Required SDK核心功能 -->
        <activity
            android:name="cn.android.service.JTransitActivity"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@style/JPushTheme">
            <intent-filter>
                <action android:name="cn.android.service.JTransitActivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- since 3.5.6 新增华硕通道 -->
        <receiver
            android:name="cn.jpush.android.asus.AsusPushMessageReceiver"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，或把 enabled 设置成 false ；App 不会被其他 App 拉起，但会拉起其他的 App。 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </service>
        <!-- 可选，如果使用静态Activity方式拉起，该组件必须声明 -->
        <activity
            android:name="cn.jpush.android.service.DActivity"
            android:enabled="true"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DActivity" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />


        <!--xiaomi_config_start-->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushcore" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushcore" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="cn.jpush.android.service.PluginXiaomiPlatformsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="XIAOMI_APPKEY"
            android:value="${XIAOMI_APPKEY}" />
        <meta-data
            android:name="XIAOMI_APPID"
            android:value="${XIAOMI_APPID}" />
        <!--xiaomi_config_end-->

        <!--huawei_config_start-->
        <service
            android:name="cn.jpush.android.service.PluginHuaweiPlatformsService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--huawei_config_end-->


        <!--oppo_config_start-->
        <service
            android:name="cn.jpush.android.service.PluginOppoPushService"
            android:exported="true"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE">

            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>
        <!-- since JPushv3.6.8 ，oppov2.1.0 oppo 核心功能-->
        <service
            android:name="com.heytap.msp.push.service.DataMessageCallbackService"
            android:exported="true"
            android:permission="com.heytap.mcs.permission.SEND_PUSH_MESSAGE">

            <intent-filter>
                <action android:name="com.heytap.mcs.action.RECEIVE_MCS_MESSAGE" />

                <action android:name="com.heytap.msp.push.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service> <!--兼容Q版本-->
        <meta-data
            android:name="OPPO_APPKEY"
            android:value="${OPPO_APPKEY}" />
        <meta-data
            android:name="OPPO_APPID"
            android:value="${OPPO_APPID}" />
        <meta-data
            android:name="OPPO_APPSECRET"
            android:value="${OPPO_APPSECRET}" />
        <!--oppo_config_end-->

        <!--vivo_config_start-->
        <receiver
            android:name="cn.jpush.android.service.PluginVivoMessageReceiver"
            android:exported="true">

            <intent-filter>
                <!-- 接收 push 消息 -->
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:exported="true" />
        <activity
            android:name="com.vivo.push.sdk.LinkProxyClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="${VIVO_APPKEY}" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="${VIVO_APPID}" />
        <!--vivo_config_end-->


        <!--Required_config-->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" /> <!-- </>值来自开发者平台取得的AppKey -->

    </application>

    <!-- Android 11 软件包可见性适配：https://www.jianshu.com/p/d1ccd425c4ce -->
    <queries>
        <!-- 拍照意图：MediaStore.ACTION_IMAGE_CAPTURE -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- 拍摄意图：MediaStore.ACTION_VIDEO_CAPTURE -->
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>

        <!-- 图片裁剪意图 -->
        <intent>
            <action android:name="com.android.camera.action.CROP" />
        </intent>

        <!-- 打电话意图：Intent.ACTION_DIAL -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>

        <!-- 调起分享意图：Intent.ACTION_SEND -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>

        <!-- 调起其他页面意图：Intent.ACTION_VIEW -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

        <!-- 调起系统文件选择器：Intent.ACTION_GET_CONTENT -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

</manifest>