<?xml version="1.0" encoding="utf-8"?><!-- 清单文件合并指引：https://developer.android.google.cn/studio/build/manifest-merge?hl=zh-cn -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tntlinking.tntdev">

    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 安装权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 定位权限（用于 WebView 定位）-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Application 节点详解：https://developer.android.google.cn/guide/topics/manifest/application-element -->
    <!-- Activity 节点详解：https://developer.android.google.cn/guide/topics/manifest/activity-element -->
    <application
        android:name="com.tntlinking.tntdev.app.AppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_logo"
        android:label="${app_name}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,LockedOrientationActivity"
        tools:replace="android:allowBackup,android:supportsRtl,android:label"
        tools:targetApi="n">
<!--        tools:replace="android:allowBackup,android:supportsRtl"-->

        <!-- 表示当前已经适配了分区存储 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 闪屏页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:exported="true">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 引导页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 首页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 登录页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 注册页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 崩溃展示（必须在独立进程） -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.CrashActivity"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape" />

        <!-- 重启应用（必须在独立进程） -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.RestartActivity"
            android:launchMode="singleTop"
            android:process=":restart" />

        <!-- 设置页 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SettingActivity"
            android:label="@string/setting_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 忘记密码 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PasswordForgetActivity"
            android:label="@string/password_forget_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 重置密码 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PasswordResetActivity"
            android:label="@string/password_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 更换手机 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PhoneResetActivity"
            android:label="@string/phone_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 关于我们 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AboutActivity"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 关于我们 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PDFViewActivity"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 关于我们 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.MDViewActivity"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 个人资料 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PersonalDataActivity"
            android:label="@string/personal_data_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 网页浏览 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.BrowserActivity"
            android:label="@string/web_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 拍照选择 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.CameraActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 图片裁剪 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.ImageCropActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 图片选择 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.ImageSelectActivity"
            android:label="@string/image_select_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 查看大图 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.ImagePreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 播放视频（自适应方向） -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.VideoPlayActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />

        <!-- 播放视频（竖屏方向） -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.VideoPlayActivity$Portrait"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />

        <!-- 播放视频（横屏方向） -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.VideoPlayActivity$Landscape"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />

        <!-- 选择视频 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.VideoSelectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 对话框案例 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.DialogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 状态案例 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.StatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <!-- 登陆页面1 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.LoginActivity1"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 登陆页面3 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.LoginActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 登陆页面3 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.LoginActivityView"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 基本信息页面1 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.BaseInfoActivity1"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 基本信息页面2 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.BaseInfoActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 基本信息页面3 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.BaseInfoActivity3"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 添加教育经历页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddEducationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 添加教育经历页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddEducationActivityNew"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 添加项目经验 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddWorkActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait" />
        <!-- 添加项目经验 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddProjectActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait" />
        <!-- 添加项目经验 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddProjectActivityNew"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait" />
        <!-- 标签选择页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddProjectTagActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 标签选择页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddProjectTagActivityNew"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 标签选择搜索页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddTagSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 用户信息页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PersonDataActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 收益列表页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.IncomeListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 收益详情页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.IncomeDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 工作主页 页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.HomeWorkActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 工作主页 页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.InterviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 工作主页 页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.HomeStatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 面试详情页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.InterviewDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 待审核 页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.CheckDeveloperActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 审核失败 页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.CheckDeveloperFailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 个人设置页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PersonSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--更换手机号页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.ChangePhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 日程页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.InterviewSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 添加日程页面 -->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddScheduleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.WriteDailyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AboutAppActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddBaseInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 评测岗位列表-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.EvaluationListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 暂无测评计划页-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.NotYetEvaluationActvity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 暂无测评计划页-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.EvaluationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- H5测评计划页-->
        <!-- 测评结果页-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.EvaluationOutcomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 测评结果中页-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.EvaluationOutComeNullActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.JkBrowserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.AddCareerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.EnterDeveloperActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SaveQRActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PosterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 写日报页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.PhotoSkillsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 签约确认页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SignContactActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 签约详情页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SignInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 状态页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.SignStatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 注销确认页面-->
        <activity
            android:name="com.tntlinking.tntdev.ui.activity.CancelServiceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 微信回调（请注意这个 Activity 放置的包名要和当前项目的包名保持一致，否则将不能正常回调） -->
        <activity
            android:name="com.tntlinking.tntdev.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

    <!-- Android 11 软件包可见性适配：https://www.jianshu.com/p/d1ccd425c4ce -->
    <queries>
        <!-- 拍照意图：MediaStore.ACTION_IMAGE_CAPTURE -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- 拍摄意图：MediaStore.ACTION_VIDEO_CAPTURE -->
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>

        <!-- 图片裁剪意图 -->
        <intent>
            <action android:name="com.android.camera.action.CROP" />
        </intent>

        <!-- 打电话意图：Intent.ACTION_DIAL -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>

        <!-- 调起分享意图：Intent.ACTION_SEND -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>

        <!-- 调起其他页面意图：Intent.ACTION_VIEW -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

        <!-- 调起系统文件选择器：Intent.ACTION_GET_CONTENT -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

</manifest>